.header{
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding: 0 20px;
    background-color : #fdfdfd;
    height : "200px"
}

.brand{
    padding: 40px;
}

/* .brand img{
    width: 100px;
    max-height: 80px;
} */

/* .navbar{

} */